@import "tailwindcss";


@theme {
  --color-darkbg: #050126;
  --color-darkbg2: #090340;
  --color-lightbg: #2c18db;
}

html,
body {
  overflow-x: clip;
  
  /* Prevent horizontal scrolling */
  /* overflow-y: auto; */
  /* Ensure vertical scrolling when necessary */
  height: auto;
  width: 100%;
}

.mega-menu {
  opacity:0;
  visibility:hidden;
  /* z-index: -900; */
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
  transition: all 0.15s linear 0s;
}



/* #hoverable Class Styles */
.hoverable {
  position: static;
}

.hoverable > a:after {

  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.hoverable:hover .mega-menu {
  opacity:1;
  visibility:visible;
  /* z-index: 900; */
}

.homebg {
  background-image: url("/teachingimg1.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: rgb(181, 179, 179);
  background-blend-mode: multiply;
  height: 100vh;
  width: 100vw;
}

.contactbg {
  background-image: url("/teachingimg17.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: rgb(181, 179, 179);
  background-blend-mode: multiply;
  height: 100vh;
  width: 100vw;
}

.meettheteambg {
  background-image: url("/teachingimg26.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(181, 179, 179);
  background-blend-mode: multiply;
  height: 100vh;
  width: 100vw;
}

.casestudiesbg {
  background-image: url("/teachingimg19.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(181, 179, 179);
  background-blend-mode: multiply;
  height: 100vh;
  width: 100vw;
}

.aboutusbg {
  background-image: url("/teachingimg9.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: rgb(181, 179, 179);
  background-blend-mode: multiply;
  height: 100vh;
  width: 100vw;
}

.learnbg {
  background-image: url("/learningimg.webp");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: rgb(181, 179, 179);
  background-blend-mode: multiply;
  height: 100vh;
  width: 100vw;
}

.learnaibg {
  background-image: url("/aibg.jpeg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: rgb(181, 179, 179);
  background-blend-mode: multiply;
  height: 100vh;
  width: 100vw;
}

.buildwebsitesbg {
  background-image: url("/buildwebsites.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: rgb(181, 179, 179);
  background-blend-mode: multiply;
  height: 100vh;
  width: 100vw;
}

.imgeffect {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.relative:hover .imgeffect {
  transform: scale(1.2);
}

.card {
  background-image: var(--background-image);
  background-size: cover;
  background-color: rgb(42, 41, 41);
  background-blend-mode: soft-light;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

/* Card content and hover effects */
.card-content {
  background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / 0.95));
}

@media (hover) {
  .card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .card:hover .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 1000ms;
  }

  .card:hover .card-content,
  .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .card:focus-within .card-content {
    transition-duration: 0ms;
  }

  .card:hover .card-title::after {
    transform: scaleX(1);
  }
}

.card-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  left: 0;
  bottom: 0;
  background: #ffffff;
  border: 2px solid black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}